{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center"><div class="col-md-6">
<div class="card border-danger"><div class="card-body">
<h4>Delete workspace “{{ object.name }}”?</h4>
<p class="text-danger">All {{ object.tasks.count }} task(s) inside will also be deleted.</p>
<form method="post">{% csrf_token %}
  <button class="btn btn-danger" type="submit">Yes, delete</button>
  <a href="{% url 'workspace_list' %}" class="btn btn-link">Cancel</a>
</form>
</div></div>
</div></div>
{% endblock %}

